body 
{
	font-family: 'Alegreya', serif;
	font-size: 18px;
	margin: 5%;
}
p 
{
	font-size: 12px;
	margin: 5px;
}
ol
{
        margin: 1px;
}
ul
{
	margin: 1px;
}
li
{
	margin: 1px;
}
img
{	
	max-width: 100%;
}
